* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Agdasima", sans-serif;
  font-weight: 400;
  background: linear-gradient(135deg, #0f172a, #3b0764);
  color: #f1f5f9; // texto en modo claro 
}


