* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Agdasima", sans-serif;
  font-weight: 400;
  background: linear-gradient(135deg, #0f172a, #3b0764);
  color: #f1f5f9; // texto en modo claro 
}
.main-layout {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
  margin: 2rem auto;
  padding: 2rem;
  max-width: 1200px;
  width: 100%;
  box-sizing: border-box;

  &__left {
    flex: 1;
    max-width: 500px;
  }

  &__right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
@media (max-width: 768px) {
  .main-layout {
    flex-direction: column;
    align-items: center;
  }

  .main-layout__left,
  .main-layout__right {
    width: 100%;
    max-width: 600px;
  }
}



