
.form-container {
  display: flex;
  flex-wrap: wrap; 
  gap: 30px; 
  max-width: 1000px; 
  margin: 40px auto;
  padding: 20px;
  box-shadow: 0 0 5px rgba(227, 194, 240, 0.9);
}


.addForm {
  flex: 2; 
  min-width: 350px; 
  background-color: #0f172a; 
  padding: 30px;
  border-radius: 8px;
  color: #ecf0f1; 
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.addForm .title {
  color: #e4b0f0; 
  text-align: center;
  margin-bottom: 25px;
  font-size: 2em;
}

.addForm__group {
  border: none;
  padding: 0;
  margin-bottom: 20px;

}

.addForm__group p {
  color: #E3C2F0; 
  margin-bottom: 15px;
  font-size: 1.1em;
  border-bottom: 1px solid #270F4B; 
  padding-bottom: 5px;
}

.addForm__input {
  width: calc(100% - 20px);
  padding: 12px 10px;
  margin-bottom: 15px;
  margin-top: 10px;
  border: 1px solid #270F4B; 
  border-radius: 5px;
  background-color: #270F4B; 
  color: #E3C2F0;
  font-size: 1em;
  box-sizing: border-box; 
}

.addForm__input::placeholder {
  color: #E3C2F0; 
}

.addForm__input:focus {
  outline: none;
  border-color: #E3C2F0;
  box-shadow: 0 0 5px rgba(227, 194, 240, 0.9);
}

.addForm__2col {
  display: flex;
  gap: 15px; 
  margin-bottom: 15px;
}

.addForm__2col .addForm__input {
  width: 100%; 
  margin-bottom: 0; 
}

textarea.addForm__input {
  resize: vertical; 
  min-height: 100px;
}

.addForm__group--upload {
  border: none;
  padding: 0;
  margin-top: 30px;
  text-align: center;
}

.button {
  display: inline-block;
  background-color: #e4b0f0; 
  color: #270F4B;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  margin: 10px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #f489ed; 
}

.addForm__hidden {
  display: none;
}

.button__large {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  font-size: 1.1rem;
  background-color: #E01700; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 30px auto; /* Auto centrado horizontal */
  transition: background-color 0.3s ease;
  
  /* NUEVOS AJUSTES */
  width: 100%;             /* Que ocupe todo el ancho disponible */
  max-width: 400px;        /* Pero no más de 400px, por ejemplo */
  text-align: center;      /* Centrar el texto dentro, por si acaso */
  white-space: nowrap;     /* Que no se corte en varias líneas */
}


.button__large:hover {
  background-color: #c21300; 
}


@media (max-width: 700px) {
  .form-container {
    flex-direction: column; 
    align-items: center; 
  }

  .addForm,
  .preview-section {
    width: 100%;
    max-width: 600px; 
  }
}

@media (max-width: 480px) {
  .addForm__2col {
    flex-direction: column;
  }
}